.host-homepage {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a, .sidebar ul li button {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
}

.sidebar ul li button:hover,
.sidebar ul li a:hover {
    text-decoration: underline;
}

.content {
    flex-grow: 1;
    padding: 40px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.delivery-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group div label {
    margin-right: 20px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
